// Fonts
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Lora&display=swap');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import "~font-awesome/css/font-awesome.min.css";
@import "~toastr/build/toastr.css";
@import "~bootstrap-table/dist/bootstrap-table.min.css";
@import "~datatables.net-bs4/css/dataTables.bootstrap4.min.css";
@import "light-bootstrap-dashboard.css";
@import "~select2-bootstrap-theme/dist/select2-bootstrap.min.css";

//partial styles
@import "partials/toastr";
@import "partials/datatables";
@import "partials/partial-nav";

.clickable-span:hover {
  cursor: pointer;
  color: $primary;
}

.blanket {
  font-family: 'Lora', serif;

  body, h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6, p, .navbar, .brand, .btn-simple, .alert, a, .td-name, td, button.close {
    font-family: 'Lora', serif;
  }
}