.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
  color: #495057;
  background-color: #f8fafc;
  border-color: #6c757d #6c757d #f8fafc;
}

.nav-tabs .nav-link:hover, .nav-tabs .nav-link:focus {
  border-color: #6c757d #6c757d #dee2e6;
}

.nav-tabs {
  border-bottom: 1px solid #6c757d;
}

.nav-tabs .nav-item > a {
  color: #6c757d;
  text-decoration: none;
  background-color: transparent;
}

.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
  color: $primary;
  background-color: #f8fafc;
  border-color: #6c757d #6c757d #f8fafc;
}